.fr_title_highlight{
    color: var(--cyan);
}
.your-class{
    background-color: red;

}

.fr_hero_center_col{
    display: flex;
    margin: 0 auto;
    row-gap: 32px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.fr_home_hero h1{
    text-align: center;
    margin: 0 auto;
}
.fr_home_hero p{
    text-align: center;
}
.fr_home_hero{
    padding-top: 99px;
    
}
.fr-logo-carousel-section{
    padding-bottom: 89px;

}
.fr_hero_right_img{
    position: relative;
    left: -131px;
    top: 67px;
}
.fr_hero_para{
    max-width: 600px;
    margin: 0 auto;
}
.fr_hero_quiz_ntn a{
    display: inline-block;
padding: 18px 96px  17px;
}
.fr_hero_left_img{
    position: relative;
    top: -32px;
}
h2.fr_section_title {
    margin: 0;
}
.fr_hero_content_container{
    margin-bottom: 70px;
    position: relative;
}
.fr_section_content_col{
    display: flex;
    row-gap: 32px;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
}
p.fr_section_desc {
    max-width: 1016px;
    margin: 0 auto;
}
.fr_get_from_our_quiz{
    background-color: var(--cream-white);
    padding-top: 120px;
    padding-bottom: 60px;

}
.fr_why_choose{
    background-color: var(--cream-white);
    padding-top: 60px;
    padding-bottom: 60px;
}
.fr_3box_quiz_wapper {
    display: flex;
    column-gap: 24px;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 48px;
}
.fr_3box_quiz_wapper .fr_3box_quiz_item{
    width: 33%;
    padding: 40px 32px 0px;
    position: relative;
    border-radius: 16px;
    min-height: 412px;
    overflow: hidden;
}
.fr_3box_quiz_wapper h4.fr_quiz_item_box_title{
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}
.fr_3box_quiz_wapper p{
    text-align: center;
}
img.fr_quiz_iem_box_img {
    width: 100%;
    position: absolute;
    left: -6px;
    bottom: 0;
}
.fr_3box_quiz_item.quiz_item_1{
    background-color: var(--warm-beige);
}
.fr_3box_quiz_item.quiz_item_2{
    background-color: var(--soft-lavender);
}
.fr_3box_quiz_item.quiz_item_3{
    background-color: var(--light-ivory);
}
.fr_3box_quiz_item.quiz_item_2 img.fr_quiz_iem_box_img {
    max-width: 326px;
    /*right: -10px !important;
    left: 28px;*/
}

.why_choose_content_right img{
    max-width: 530px;
    width: 100%;
}
.fr_why_choose_content_wapper{
    background-repeat: no-repeat !important;
    padding: 80px;
    border-radius: 16px;
    display: flex;
    background: url(../images/whychoosebackground.png);
    align-items: center;
}
.why_choose_content_left h2 {
    max-width: 500px;
}
.why_choose_content_left h2{
    margin-top: 32px;
    margin: 0;
}
.fr_why_choose_list_wapper{
    padding-left: 39px;
    margin:32px 0 0;
}
.fr_why_choose_list_wapper li {
    position: relative;
    margin-bottom: 16px;
    list-style: none;
    font-size: 16px;
    line-height: 21px;
    color: var(--charcoal-gray);
}
.fr_why_choose_list_wapper li:last-child{
    margin-bottom: 0px;
}
.fr_why_choose_list_wapper li::before{
    content: '';
    left: -39px;
    top: -2px;
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url('../images/icons/right-dec.svg');
}
.fr_checkout_list h2{
    margin: 0;
    margin-bottom: 18px;
    max-width: 400px;

}
img.fr_checkout_list_img {
    width: 100%;
    max-width: 580px;
}
p.fr_checout_list_dece {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 416px;
}
.fr_checkout_list{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cream-white);

}
.fr_btn_checkout_list{
    margin-top: 18px;

}
.fr_btn_checkout_list {
    margin-top: 18px;
}
.fr_checkout_list_right_col{
    padding-left: 148px;
}
.fr_our_resourec_left_col{
    position: relative;
    background-color: var(--warm-beige);
    border-radius: 16px;
    padding: 40px 32px 32px;
}
.fr_our_resources{
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: var(--cream-white);
}
.fr_our_resources h2{
    margin: 0 auto;
    text-align: center;
}
.fr_our_resources_row_1{
    padding-bottom: 32px;
}
.fr_our_resources_row_2{
    padding-top: 32px;
}
.fr_our_resourec_left_col img {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;
}
.fr_our_resourec_left_col_grad {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
}
.img.fr_our_resource_left_col_img {
    display: block;
}

.fr_our_resourec_left_col_grad::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 64px;
    background: linear-gradient(to top, var(--warm-beige), rgba(255, 255, 255, 0));
    pointer-events: none; 
}
.fr_resoures_labal{
    margin-bottom: 12px;
    Padding: 6px 12px 6px 12px;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
}
.fr_resoures_labal svg{
    margin-right: 8px;
}
.fr_our_resources_row_2_content_wapper {
    padding-top: 32px;
   
}

.fr_our_resources_row_2 h4{
    margin-top: 12px;
    margin-bottom: 32px;
}
.fr_resorce_4_1{
    background-color: var(--soft-lavender);
}
.fr_resorce_4_2{
    background-color: var(--light-ivory);
}
.fr_resorce_4_3{
    background-color: var(--misty-gray);
}
.fr_resorce_4_4{
    background-color: var(--soft-blue);
}
.fr_our_resourec_right_col_item{
    border-radius: 16px;
    padding: 32px;

}
.fr_our_resourec_right_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 25px;
    padding: 0;
    padding-left: 12px;
}
.fr_our_resourec_left_col_wapper{
    padding: 0;
    padding-right: 12px;
    display: flex;
}


.fr_main_nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fr_main_nav_links li {
    position: relative;
    cursor: pointer;
    
}


.fr_main_nav_links .dropdown_menu li {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    
}
.fr_3box_quiz_item.quiz_item_3 p {
    max-width: 260px;
    margin: 0 auto;
}


.fr_main_nav_links .dropdown_menu {
   
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0px;
    min-width: 140px;
    background-color: var(--white);
    list-style: none;
    padding: 10px;
    border-radius: 10px;

    
}
.fr_main_nav_links .has_sub_menu:hover .dropdown_menu {
    display: block;
}
.fr_main_nav_links .dropdown_menu li a{
    color: var(--charcoal-gray);
}
ul.dropdown_menu li {
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
}
.fr_nav_menu_dropdown li:focus-visible{
    outline: none;
    border: none;

}
.fr_dropdown_inner_wapper.dropdown-item.active, .fr_dropdown_inner_wapper.dropdown-item:active {
    background: var(--pearl-blush);
    border: none;
    border-radius: 12px;
    outline: none !important;
}
.fr_nav_menu_dropdown .fr_dropdown_inner_wapper:hover{
    background: var(--pearl-blush);
    border-radius: 12px;
}
img.fr_logo {
    max-width: 170px;
    width: 100%;
}
.fr_navbar .navbar-nav .nav-link {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 21px;
    color: var(--black);
    font-weight: 400;
}
.fr_navbar .dropdown-toggle::after{
    background:url(../images/icons/arrow-down.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    content: "";
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 0px;
    vertical-align: unset;
    right: 0px;
    transform: rotate(0deg);
    opacity: 1;
    transition: 0.4s;
}

.fr_navbar .nav-link.dropdown-toggle:hover .fr_dropdown.dropdown-menu{
    display: block !important;

}
.fr_navbar ul.navbar-nav {
    column-gap: 24px;
}

.fr_navbar .dropdown.show .dropdown-toggle::after{
    transform: rotate(180deg);
    opacity: 0.7;
    transition: 0.4s;
}
.fr_navbar a.nav-link.dropdown-toggle:hover{
    color: var(--mid-tone-gray);
}
.fr_navbar a.nav-link.dropdown-toggle.show::after{
    transform: rotate(180deg);
    opacity: 0.7;
    transition: 0.4s;

}
.fr_dropdown_inner_wapper p{
    margin: 0;
}
p.fr_drop_item_bold_text {
    padding-bottom: 4px;
    font-weight: 500;
    color: var(--black);
}
p.fr_drop_item_normal_text {
    color: var(--mid-tone-gray);
}
.fr_dropdown_inner_wapper{
    display: flex;
    column-gap: 12px;
    align-items: center;

}
.fr_drop_item_left_icon_col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--sea-blue);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: relative;
    
}

@media only screen and (max-width: 768px) {
    .fr_our_resources h2 {
        text-align: left;
      }

    .d-none-mobile{
        display: none;
    }

}

@media only screen and (max-width: 990px) {
    .fr_drop_item_left_icon_col{
        width: 32px;
        height: 32px;
    }
    .fr_drop_item_left_icon_col svg {
        width: 16px;
        height: 16px;
    }
    p.fr_drop_item_bold_text {
        padding-bottom: 0;
        font-weight: 400;
        color: var(--charcoal-gray);
    }
    ul.navbar-nav .nav-item.dropdown:first-child a.nav-link.dropdown-toggle{
        border-top: unset;
    }
    
    a.nav-link.dropdown-toggle {
        border-top: 1px solid #E5E5E5;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    /* .fr_nav_menu_dropdown{
        

    }
    .fr_nav_menu_dropdown.your-class{
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }
    @-webkit-keyframes fadeIn {
        from { opacity: 0; height: 0; }
        to { opacity: 1; height: 100%; }
    }

    @keyframes fadeIn {
        from { visibility:hidden; height: 0;}
        to { visibility:visible; height: 100%}
    } */
    .fr_burger_menu_bottom{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fr_burger_button{
        position: fixed;
        bottom: 0;
        margin-bottom: 40px;
        width: 92%;
    }
    .fr_navbar .dropdown-toggle::after{
        right: unset;
        margin-left: 8px;
    }
    .fr_dropdown_inner_wapper {
        padding-left: 0;
        padding-right: 0;
    }
    .fr_main_header {
        background-color: var(--pearl-blush);
        top: 0;
        z-index: 1000;
        position: sticky;
        padding: 16px 0;
        height: unset;
    }
    .fr_main_nav_links_col{
        margin-top:0px !important;
    }
    p.fr_drop_item_normal_text {
        display: none;
    }
    img.fr_logo_mobile {
        z-index: 1001;
        max-width: 143px;
    }
    /* Icon 3*/
    #nav-icon2 span:nth-child(4) {
        left: 12px !important;
    }
    #nav-icon2 span:nth-child(3) {
        left: 0px !important;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: unset !important;
    }

    #nav-icon2 {
        display: inline-block;
        height: 25px;
        width: 25px;
    }
    
    #nav-icon2 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 55%;
      background: var(--black);
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    
    #nav-icon2 span:nth-child(even) {
      left: 49%;
      border-radius: 0 9px 9px 0;
    }
    
    #nav-icon2 span:nth-child(odd) {
      left:0px;
      border-radius: 9px 0 0 9px;
    }
    
    #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
      top: 0px;
    }
    
    #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
      top: 9px;
    }
    
    #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
      top: 18px;
    }
    
    #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    #nav-icon2.open span:nth-child(1) {
        left: 0;
        top: 0;
    }
    
    #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 3px);
        top: 0;
    }
    
    #nav-icon2.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    
    #nav-icon2.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }
    
    #nav-icon2.open span:nth-child(5) {
        left: 0;
        top: 9px;
    }
    
    #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 3px);
        top: 9px;
    }
    .fr_navbar>.container-fluid{
        padding: 0;
    }
    /* end */
    button.navbar-toggler {
        border: none;
        z-index: 1000;
        display: inline-block;
        position: relative;
        height: 25px;
        width: 25px;
    }
    .fr_navbar a.nav-link {
        text-align: left;
    }
    .navbar-nav .dropdown-menu {
        background: transparent;
        border: none;
    }
    ul.fr_nav_menu_dropdown.dropdown-menu {
        padding-bottom: 24px;
        padding-top: 0;
    }
    .fr_nav_menu_dropdown li:last-child .fr_dropdown_inner_wapper{
        padding-bottom: 0px !important;

    }
    .fr_nav_menu_dropdown li:first-child .fr_dropdown_inner_wapper{
        padding-top: 0px !important;

    }
    .fr_navbar ul.navbar-nav {
        height: 75vh;
        overflow: auto;
    }
    div#fr_navbarNavDropdown.navbar-collapse {
        padding-left: 17px;
        padding-right: 17px;
        /* visibility: hidden;
        transform: translateY(-100%); */
        border-radius: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        height: 0vh;
        z-index: 9;
        padding-top: 72px;
        width: 100%;
        overflow: hidden !important;
        transition: .3s;
        background-color: var(--pearl-blush);
    }
    div#fr_navbarNavDropdown.navbar-collapse.show {
        opacity: 1;
        transition: .4s;
        height: 100vh;
        /* visibility: visible;
        transform: translateY(0); */
    }
    .fr_hero_right_img {
        display: none;
    }
    .fr_hero_left_img {
       display: none;
    }

    .fr_our_resources_row_2 h4{
        margin-bottom: 24px;
    }

}
@media only screen and (min-width: 990px){
   
    .fr_burger_menu_bottom{
        display: none;

    }
    
    .fr_nav_menu_dropdown{
        padding: 8px;
        -webkit-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
        border: none;
        background: var(--warm-snow);
        border-radius: 16px;

    }
    .fr_nav_menu_dropdown::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/Polygon-1.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        right: 50%;
        left: 50%;
        top: -15px;
    }
    .fr_nav_menu_dropdown a.dropdown-item {
        padding: 16px;
       
    }
    .fr_nav_menu_dropdown.dropdown-menu {
        position: absolute;
        transform: translateX(-178px);
    }

   
    .fr_logo_mobile{
        display: none;

    }
    .navbar-expand-lg .navbar-nav .nav-link {
       
        padding-left: 0 !important;
        padding-right: 28px !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}
@media only screen and (max-width: 1162px)  and (min-width: 990px) {
    .fr_hero_left_img {
        max-width: 200px !important;
    }
    .fr_hero_right_img{
        max-width: 250px !important; 
    }

}
@media only screen and (max-width: 1600px)  and (min-width: 990px) {
    .fr_hero_right_img {
        width: 100%;
        position: absolute;
        left: unset;
        top: 148px;
        right: -15px;
        max-width: 270px;
    }
    .fr_hero_left_img {
        top: -26px;
        left: -28px;
        max-width: 260px;
        position: absolute;
        /* top: -32px; */
        width: 100%;
    }

}
@media only screen and (max-width: 990px)  and (min-width: 768px) {
   
    .fr_our_resourec_left_col_wapper {
        width: 100%;
    }
    .fr_our_resources_row_2 {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .fr_hero_right_img {
        width: 100%;
        position: absolute;
        left: unset;
        top: 148px;
        right: -15px;
        max-width: 270px;
    }
    .fr_hero_left_img {
        top: -26px;
        left: -28px;
        max-width: 260px;
        position: absolute;
        width: 100%;
    }

}
@media only screen and (max-width: 1244px)  and (min-width: 990px) {
    .fr_main_btn_a.fr_btn_dark a {
        font-size: 14px;
        padding: 14px 13px;
    }
}
@media only screen and (max-width: 1200px)  and (min-width: 990px) {
    
    .fr_main_nav_links_wrapper ul{
        gap: 30px;
        font-size: 14px;
    }
    .fr_navbar ul.navbar-nav {
        column-gap: 12px !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 24px !important;
        font-size: 14px;
    }

}

