.fr_leadge_archive_hero {
    padding: 104px 0;
}
.fr_leadge_archive_hero .fr_hero_content_container{
    margin: 0;
}
.fr_leadgen_archive_section,.fr_magnet_section {
    background-color: var(--cream-white)
}

.fr_magnet_section {
    padding: 80px 0
}

.fr_leadgen_archive_section {
    padding: 0 0 80px;
    overflow: hidden;
}

.fr-archive-header {
    justify-content: space-between;
    flex-wrap: wrap
}

.fr-archive-header,.fr-archive-nav {
    display: flex;
    align-items: center;
    gap: 32px
}

a.fr-archive-nav-item {
    color: var(--dark-gray);
    cursor: pointer;
    white-space: nowrap
}

a.fr-archive-nav-item.active {
    color: var(--cyan);
    position: relative
}

a.fr-archive-nav-item.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--cyan);
    position: absolute;
    bottom: -2px;
    left: 0
}

.fr-select-field {
    background: 0 0;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 2px;
    padding-right: 25px;
    font-family: "Inter";
    font-size: 16px;
    color: var(--black);
    margin-left: 12px;
    outline: 0;
    cursor: pointer
}

.fr-archive-sorter-label,a.fr-archive-nav-item {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left
}

.fr-archive-inner {
    padding: 48px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px
}

.fr-archive-single {
    background-color: var(--warm-beige);
    padding: 16px 16px 25px;
    min-height: 505px;
    border-radius: 16px;
    transition: background-color 0.3s ease
}

.fr-archive-single-tags-wrapper {
    margin: 16px 0 24px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 9px;
}

.fr-archive-single-tag:not(:last-child)::after {
    content: "";
    background-color: var(--black);
    opacity: 20%;
    width: 2px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 8px
}

/* .fr-archive-single-meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px
} */
.fr-archive-single-meta-wrapper {
    margin-bottom: 32px;
}
.fr-archive-single-tag {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--cyan);
    text-transform: uppercase;
    position: relative
}

.fr-archive-card-img {
    width: 100%
}

.fr-archive-read-time {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--dark-gray)
}

.fr-archive-single-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0 0 12px 0;
}

.fr-archive-single-author-name {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px
}

.fr-archive-single-author-wrapper {
    display: flex;
    align-items: center;
    gap: 12px
}

.fr-archive-single-author-img {
    width: 24px;
    height: 24px;
    border-radius: 50%
}

.fr-archive-fimage,.fr-archive-single-readmore span {
    position: relative
}

.fr-archive-single:hover .fr-archive-single-readmore {
    opacity: 1
}

.fr-archive-single-readmore {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171717bf;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    border-radius: 16px;
    transition: .3s ease-in-out
}

.fr-archive-single-readmore img {
    width: 24px;
    height: 24px
}

.fr-archive-single-readmore span::after {
    content: "";
    width: 100%;
    background: var(--white);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0
}

.fr-archive-pagination-inner {
    display: flex;
    gap: 32px;
    justify-content: center;
    font-family: Inter;
    align-items: center
}

img.fr-pagination-btn.pagination-prev {
    transform: rotate(180deg)
}

.fr-pagination-btn {
    cursor: pointer
}

.fr-pagination-btn.active {
    background: var(--black);
    color: var(--white);
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}
/*Logo carousel*/
.fr_log_single_item {
    margin-right: 88px;
}

.fr_logo_container {
    display: flex;
    align-items: center;
    column-gap: 88px;
    opacity: 0.5;
    padding-top: 70px;
    overflow: hidden; 
    position: relative;
}

.fr_logo_inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.fr_logo_inner img {
    max-height: 100px; /* Adjust the height of the logos */
}
.fr_hero_para{
    text-align: center;
}
@keyframes horizontal_scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.fr_logo_inner {
    animation: horizontal_scroll 50s linear infinite;
}

/*Logo carousel*/
.fr_single_blog_hero {
    padding-top: 104px;
}
.fr-logo-carousel-section{
    background-color: var(--cream-white);
}
.logo-carousel-bg-secondary{
    background-color: var(--pearl-blush);
}
/*Single blog*/
/* .fr-archive-single {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: scale(1);
    opacity: 1;
}

.fr-archive-single.hidden {
    transform: scale(0.8);
    opacity: 0;
    pointer-events: none;
    position: absolute;
} */
.fr_single_blog_section, .fr_single_profile{
    background-color: var(--cream-white);
}
.breadcrumb-parent {
    font-size: 16px;
    font-weight: 500;
    color: var(--black) !important;
}
.breadcrumb-current {
    font-size: 16px;
    color: var(--mid-tone-gray) !important;
}
.fr-single-hero-meta-wrapper .fr-archive-single-tags-wrapper{
    margin :0 0 16px 0;
}
.fr-single-hero-meta-wrapper {
    background-color: var(--warm-beige);
    padding: 40px;
    border-radius: 16px;
    margin-top: 24px;
}
.fr-single-hero-meta-wrapper h1{
    max-width: 95%;
}
span.fr-archive-read-time {
    margin: 24px 0 12px 0;
    display: block;
    color: var(--mid-tone-gray);
}
img.fr-single-blog-img {
    border-radius: 16px;
    width: 100%;
}
.fr-single-blog-content {
    padding-top: 80px;
}
.fr-single-blog-content-wrapper h2, 
.fr-single-blog-content-wrapper h3, 
.fr-single-blog-content-wrapper h4, 
.fr-single-blog-content-wrapper h5, 
.fr-single-blog-content-wrapper h6 {
    margin: 0 0 32px;
    scroll-margin-top: 100px;
}

.fr-single-blog-content-wrapper h2:not(:first-child),
.fr-single-blog-content-wrapper h3:not(:first-child),
.fr-single-blog-content-wrapper h4:not(:first-child),
.fr-single-blog-content-wrapper h5:not(:first-child),
.fr-single-blog-content-wrapper h6:not(:first-child) {
    margin: 48px 0 32px; 
}
.fr-single-blog-content-wrapper ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fr-single-blog-content-wrapper ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/ol-li.svg');
    background-repeat: no-repeat;
}
.fr-single-blog-content-wrapper ul li {
    position: relative;
    padding-left: 5px;
}
.fr-single-blog-content-wrapper ol {
    padding: 0;
    list-style: none;
    counter-reset: list-counter;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fr-single-blog-content-wrapper ol li {
    position: relative;
    padding-left: 24px; 
    counter-increment: list-counter;
}
.fr-single-blog-content-wrapper ol li::before {
    content: counter(list-counter) ". ";
    position: absolute;
    left: 0;
    top: 0;
    font-family: Inter;
    font-weight: 600;
    color: var(--cyan);
}
p.fr-single-blog-cta-para {
    margin-top: 32px;
    max-width: 404px;
}
.fr_single_blog_ideal_franch {
    padding-top: 120px;
}
.fr_single_blog_social_share {
    padding: 120px 0px 32px 0;
}
.row.fr_social_share {
    padding-bottom: 32px;
    text-align: center;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid var(--black-opacity);
}
span.fr-micro-title {
    font-family: Inter;
    color: var(--charcoal-gray);
}
.fr-social-icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.fr_single_blog_author_wrapper {
    max-width: 600px;
}
.fr-single-blog-author-meta {
    margin-bottom: 32px;
    display: flex;
    gap: 12px;
    align-items: center;
}
.fr-archive-single-author-role{
    font-family: Inter;
    color: var(--mid-tone-gray);
}
.fr-single-author-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}
.fr-single-blog-author-meta .fr-col span {
    display: block;
}
section.fr_single_blog_related_section {
    padding-top: 100px;
}
h2.fr-row-title {
    text-align: center;
}
p.fr-title-desc {
    margin-top: 20px;
    text-align: center;
}
.single-blog-panel-title{
    margin-bottom: 20px;
}
.fr-single-blog-nav-link.active {
    font-weight: 600;
    color: var(--cyan);
}
.fr-single-blog-nav-link {
    font-size: 16px;
    color: var(--mid-tone-gray);
    display: block;
    margin-bottom: 16px;
}
.fr-single-blog-nav-link:hover{
    color: var(--cyan);
}
.fr-lead-magnet-wrapper img{
    width: 100%;
}
.fr-single-hero-meta-wrapper .fr-archive-read-time{
    margin:12px 0px 32px 0;
}
.fr-individual-profile-logo img {
    width: 154px;
    height: auto;
    object-fit: cover;
    margin-bottom: 24px;
}
h2.fr-single-profile-title {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 71px;
    margin-bottom: 32px;
}
.fr-table-container {
    border: 1px solid var(--black-opacity);
    border-radius: 16px;
    margin: 48px 0;
    font-family: "Inter", sans-serif;
}

.fr-table-header {
    background-color: var(--linen);
    text-align: center;
    padding: 16px 0;
    border-radius: 16px 16px 0 0;
}
.fr-table-header h6{
    margin:0;
}
.fr-table-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 11.5%;
    position: relative;
}
.fr-table-row::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--black-opacity);
    position: absolute;
    left: 50%;
    top: 0;
}
.fr-table-value {
    font-weight: 600;
}
.fr-table-row:nth-child(even) {
    background-color: var(--pale-peach);
}
.fr-table-row:last-child {
    border-radius: 0 0 16px 16px;
}
.fr-blog-inline-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 24px;
}
.fr-profile-faq-wrapper {
    padding-top: 48px;
}
@media only screen and (min-width:768px) {
    .fr-single-blog-nav {
        border-right: 1px solid var(--light-gray);
    }
}
@media only screen and (max-width:991px) {
    .fr_single_blog_hero {
        padding-top: 40px;
    }
    .fr-single-hero-meta-wrapper .fr-archive-read-time{
        margin-bottom: 32px;
    }
    .fr-single-hero-meta-wrapper .fr-archive-single-author-wrapper{
        margin-bottom: 40px;
    }
    section.fr_single_blog_related_section{
        padding-top:70px
    }
    p.fr-title-desc{
        margin-top: 8px;
    }
    .fr-archive-inner{
        padding: 28px 0;
    }
    .fr-archive-pagination-inner{
        gap: 24px;
    }
    .fr_single_blog_ideal_franch {
        padding-top: 80px;
    }
}
@media only screen and (max-width:980px) {
    .fr-single-hero-meta-wrapper h1{
        font-size: 32px;
        line-height: 42px;
    }
    .fr-archive-inner {
        grid-template-columns: repeat(2,1fr)
    }

    .fr-archive-nav {
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 30px
    }
    .fr_leadge_archive_hero .fr_hero_center_col{
       gap: 24px;
    }
    .fr-archive-nav-item:last-child {
        margin-right: 120px;
    }
    .fr-table-header{
        text-align: left;
        padding-left: 16px;
    }
    .fr-table-row {
        flex-direction: column;
        align-items: flex-start;
        row-gap:8px;
        padding: 12px 16px;
    }
    .fr-table-row::after{
        display: none;
    }

}

@media only screen and (max-width:768px) {
    .fr_single_blog_author_wrapper{
        max-width: unset;
    }
    .fr-single-hero-meta-wrapper h1{
        max-width: unset;
    }
    .fr-archive-inner {
        grid-template-columns: repeat(1,1fr)
    }
    .fr_leadge_archive_hero{
        padding: 40px 0;
    }
    .fr_magnet_section{
        padding: 48px 0;
    }
    .fr-archive-header{
        width: 100vw;
    }
    .fr-single-hero-meta-wrapper{
        padding: 24px;
    }
    .fr-single-blog-content{
        padding-top:64px;
    }
    .fr-single-blog-nav {
        margin-bottom: 32px;
    }
    .fr-lead-magnet-wrapper {
        margin-bottom: 48px;
    }
    .fr-single-blog-content-wrapper h2, .fr-single-blog-content-wrapper h3, .fr-single-blog-content-wrapper h4, .fr-single-blog-content-wrapper h5, .fr-single-blog-content-wrapper h6{
        margin: 0 0 24px;
    }
    .row.fr_social_share, .fr-row-title, .fr-title-desc{
        text-align: left !important;
    }
    .fr_single_blog_social_share {
        padding: 80px 0px 24px 0;
    }
    .fr-social-icons-wrapper{
        justify-content: flex-start;
    }
}