.fr_title_highlight{
    color: var(--cyan);
}

.fr_hero_center_col{
    display: flex;
    margin: 0 auto;
    row-gap: 32px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.fr_home_hero h1{
    text-align: center;
    margin: 0 auto;
}
.fr_home_hero p{
    text-align: center;
}
.fr_home_hero{
    padding-top: 99px;
    padding-bottom: 89px;;
}
.fr_hero_right_img{
    position: relative;
    left: -131px;
    top: 67px;
}
.fr_hero_para{
    max-width: 600px;
    margin: 0 auto;
}
.fr_hero_quiz_ntn a{
    display: inline-block;
padding: 18px 96px  17px;
}
.fr_hero_left_img{
    position: relative;
    top: -32px;
}
h2.fr_section_title {
    margin: 0;
}
.fr_hero_content_container{
    margin-bottom: 70px;
    position: relative;
}
.fr_section_content_col{
    display: flex;
    row-gap: 32px;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
}
p.fr_section_desc {
    max-width: 1016px;
    margin: 0 auto;
}
.fr_get_from_our_quiz{
    background-color: var(--cream-white);
    padding-top: 120px;
    padding-bottom: 60px;

}
.fr_why_choose{
    background-color: var(--cream-white);
    padding-top: 60px;
    padding-bottom: 60px;
}
.fr_3box_quiz_wapper {
    display: flex;
    column-gap: 24px;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 48px;
}
.fr_3box_quiz_wapper .fr_3box_quiz_item{
    width: 33%;
    padding: 32px 40px 0px;
    position: relative;
    border-radius: 16px;
    min-height: 412px;
    overflow: hidden;
}
.fr_3box_quiz_wapper h4.fr_quiz_item_box_title{
    text-align: center;
    margin: 0;
    padding-bottom: 17px;
}
.fr_3box_quiz_wapper p{
    text-align: center;
}
img.fr_quiz_iem_box_img {
    width: 100%;
    position: absolute;
    left: -6px;
    bottom: 0;
}
.fr_3box_quiz_item.quiz_item_1{
    background-color: var(--warm-beige);
}
.fr_3box_quiz_item.quiz_item_2{
    background-color: var(--soft-lavender);
}
.fr_3box_quiz_item.quiz_item_3{
    background-color: var(--light-ivory);
}
.fr_3box_quiz_item.quiz_item_2 img.fr_quiz_iem_box_img {
    max-width: 326px;
    right: -10px !important;
    left: 28px;
}

.why_choose_content_right img{
    max-width: 530px;
    width: 100%;
}
.fr_why_choose_content_wapper{
    background-repeat: no-repeat !important;
    padding: 80px;
    border-radius: 16px;
    display: flex;
    background: url(../images/whychoosebackground.png);
    align-items: center;
}
.why_choose_content_left h2 {
    max-width: 500px;
}
.why_choose_content_left h2{
    margin-top: 32px;
    margin: 0;
}
.fr_why_choose_list_wapper{
    padding-left: 39px;
    margin:32px 0 0;
}
.fr_why_choose_list_wapper li {
    position: relative;
    margin-bottom: 16px;
    list-style: none;
    font-size: 16px;
    line-height: 21px;
    color: var(--charcoal-gray);
}
.fr_why_choose_list_wapper li:last-child{
    margin-bottom: 0px;
}
.fr_why_choose_list_wapper li::before{
    content: '';
    left: -39px;
    top: -2px;
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url('../images/icons/right-dec.svg');
}
.fr_checkout_list h2{
    margin: 0;
    margin-bottom: 18px;
    max-width: 400px;

}
img.fr_checkout_list_img {
    width: 100%;
    max-width: 580px;
}
p.fr_checout_list_dece {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 416px;
}
.fr_checkout_list{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cream-white);

}
.fr_btn_checkout_list{
    margin-top: 18px;

}
.fr_btn_checkout_list {
    margin-top: 18px;
}
.fr_checkout_list_right_col{
    padding-left: 148px;
}
.fr_our_resourec_left_col{
    position: relative;
    background-color: var(--warm-beige);
    border-radius: 16px;
    padding: 40px 32px 32px;
}
.fr_our_resources{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cream-white);
}
.fr_our_resources h2{
    margin: 0 auto;
    text-align: center;
}
.fr_our_resources_row_1{
    padding-bottom: 32px;
}
.fr_our_resources_row_2{
    padding-top: 32px;
}
.fr_our_resourec_left_col img {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;
}
.fr_our_resourec_left_col_grad {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
}
.img.fr_our_resource_left_col_img {
    display: block;
}

.fr_our_resourec_left_col_grad::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 64px;
    background: linear-gradient(to top, var(--warm-beige), rgba(255, 255, 255, 0));
    pointer-events: none; 
}
.fr_resoures_labal{
    margin-bottom: 12px;
    Padding: 6px 12px 6px 12px;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
}
.fr_resoures_labal svg{
    margin-right: 8px;
}
.fr_our_resources_row_2_content_wapper {
    padding-top: 32px;
   
}
.fr_our_resources_row_2_content_wapper .fr_btn_goast {
    margin-top: 16px;
}
.fr_our_resources_row_2 h4{
    margin-top: 12px;
    margin-bottom: 16px;

}
.fr_resorce_4_1{
    background-color: var(--soft-lavender);
}
.fr_resorce_4_2{
    background-color: var(--light-ivory);
}
.fr_resorce_4_3{
    background-color: var(--misty-gray);
}
.fr_resorce_4_4{
    background-color: var(--soft-blue);
}
.fr_our_resourec_right_col_item{
    border-radius: 16px;
    padding: 32px;

}
.fr_our_resourec_right_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 25px;
    padding: 0;
    padding-left: 12px;
}
.fr_our_resourec_left_col_wapper{
    padding: 0;
    padding-right: 12px;
    display: flex;
}


.fr_main_nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fr_main_nav_links li {
    position: relative;
    padding: 10px;
}


.fr_main_nav_links .dropdown_menu li {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}
li.has_sub_menu:after{
    top: 11px !important;
}

.fr_main_nav_links .dropdown_menu {
   
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0px;
    min-width: 140px;
    background-color: var(--white);
    list-style: none;
    padding: 10px;
    border-radius: 10px;

    
}
.fr_main_nav_links .has_sub_menu:hover .dropdown_menu {
    display: block;
}
.fr_main_nav_links .dropdown_menu li a{
    color: var(--charcoal-gray);
}
ul.dropdown_menu li {
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {

    .d-none-mobile{
        display: none;
    }

}

@media only screen and (max-width: 990px) {
    .fr_hero_right_img {
        display: none;
    }
    .fr_hero_left_img {
       display: none;
    }

}
@media only screen and (max-width: 1162px)  and (min-width: 990px) {
    .fr_hero_left_img {
        max-width: 200px !important;
    }
    .fr_hero_right_img{
        max-width: 250px !important; 
    }

}
@media only screen and (max-width: 1600px)  and (min-width: 990px) {
    .fr_hero_right_img {
        width: 100%;
        position: absolute;
        left: unset;
        top: 148px;
        right: -15px;
        max-width: 270px;
    }
    .fr_hero_left_img {
        top: -26px;
        left: -28px;
        max-width: 260px;
        position: absolute;
        /* top: -32px; */
        width: 100%;
    }

}
@media only screen and (max-width: 990px)  and (min-width: 768px) {
   
    .fr_our_resourec_left_col_wapper {
        width: 100%;
    }
    .fr_our_resources_row_2 {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .fr_hero_right_img {
        width: 100%;
        position: absolute;
        left: unset;
        top: 148px;
        right: -15px;
        max-width: 270px;
    }
    .fr_hero_left_img {
        top: -26px;
        left: -28px;
        max-width: 260px;
        position: absolute;
        /* top: -32px; */
        width: 100%;
    }

}
















/* test */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: calc(100% * 2); /* Double the width to allow seamless scroll */
    animation: scroll 20s linear infinite;
}

.slide {
    flex: 0 0 20%; /* Each slide will take up 20% of the container width to show 5 slides in view */
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}