@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 56px;
    line-height: 71px;
    color: #171717;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 40px;
    line-height: 52px;
    color: #171717;
}

h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 32px;
    line-height: 42px;
    color: #171717;
}

h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 24px;
    line-height: 32px;
    color: #171717;
}

h5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 20px;
    line-height: 26px;
    color: #171717;
}

h6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 18px;
    line-height: 24px;
    color: #171717;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 16px;
    line-height: 21px;
    color: #302E2C;
}

ul {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 16px;
    line-height: 21px;
    color: #302E2C;
}

a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-weight: 400;
}

body {
    background-color: #F8F2EE;
}

.container {
    width: 1224px;
}

/* Header styles */
.fr_main_nav_links_wrapper ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 28px;
    justify-content: flex-end;
}
.fr_main_header {
    height: 80px;
    display: flex;
    align-content: center;
    align-items: center;
}
.fr_main_nav_links_col {
    align-content: center;
}
.fr_main_btn_a a {
    background-color: #171717;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    padding: 14px 32px;
    border-radius: 30px;
}
li.has_sub_menu:after {
    content: url('../images/arrow-down.svg');
    position: relative;
    top: 5px;
    left: 8px;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 32px;
        line-height: 42px;
    }
    
    h2 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 28px;
        line-height: 36px;
    }
    
    h3 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 24px;
        line-height: 32px;
    }
    
    h4 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 20px;
        line-height: 26px;
    }
    
    h5 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 18px;
        line-height: 24px;
    }
    
    h6 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 16px;
        line-height: 21px;
    }
}