@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 56px;
    line-height: 71px;
    color: #171717;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 40px;
    line-height: 52px;
    color: #171717;
}

h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 32px;
    line-height: 42px;
    color: #171717;
}

h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 24px;
    line-height: 32px;
    color: #171717;
}

h5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 20px;
    line-height: 26px;
    color: #171717;
}

h6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 18px;
    line-height: 24px;
    color: #171717;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 32px;
        line-height: 42px;
    }
    
    h2 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 28px;
        line-height: 36px;
    }
    
    h3 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 24px;
        line-height: 32px;
    }
    
    h4 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 20px;
        line-height: 26px;
    }
    
    h5 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 18px;
        line-height: 24px;
    }
    
    h6 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 16px;
        line-height: 21px;
    }
}