@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --black: #171717;
    --black-opacity: #17171714;
    --cyan: #39868D;
    --linen:#F1E6DE;
    --white:#ffffff;
    --real-balck:#000000;
    --soft-lavender: #EAE4E9;
    --light-ivory:#F3F0D7;
    --warm-beige: #F5EBE0;
    --cool-mint: #D5E4E3;
    --soft-blue: #DBDEE9;
    --misty-gray: #E1E4DD;
    --charcoal-gray: #4A4A4A;
    --cream-white: #F9F5F1;
    --pearl-blush: #F8F2EE;
    --mid-tone-gray: #646464;
    --warm-snow:#FCFAF8;
    --sea-blue: #D7E6E8;


}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 56px;
    line-height: 71px;
    color: var(--black);
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 40px;
    line-height: 52px;
    color: var(--black);
}

h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 32px;
    line-height: 42px;
    color: var(--black);
}

h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
}

h5 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

h6 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 16px;
    line-height: 21px;
    /* color: #302E2C; */
    color: var(--charcoal-gray);
}

ul {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 16px;
    line-height: 21px;
    /* color: #302E2C; */
    color: var(--charcoal-gray);
}

a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-weight: 400;
}

body {
    background-color: var(--pearl-blush);
}

.container {
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    
}

/* Header styles */
.fr_main_nav_links_wrapper ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 52px;
    justify-content: flex-end;
    align-items: center;
}

.fr_main_nav_links li{
    color: #171717;
}
.fr_main_header {
    background-color: var(--pearl-blush);
    top: 0;
    z-index: 1000;
    position: sticky;
    height: 80px;
    display: flex;
    align-content: center;
    align-items: center;
}
.fr_main_nav_links_col {
    /* display: flex; */
    /* align-content: center; */
    justify-content: center;

}
.fr_main_btn_a a {
    padding: 14px 32px; 
}
.fr_btn_dark{
    display: inline-block;
}
.fr_btn_light{
    display: inline-block;
}
.fr_btn_dark:hover a{
    background-color: var(--cyan);
    transition: 0.4s;
}
.fr_btn_dark a{
    display: inline-block;
    border-radius: 100px;
    font-size: 16px;
    line-height: 21px;
    background-color: var(--black);
    color: var(--white);
    font-weight: 500;
    padding: 13px 32px 13px;
    transition: 0.4s;
}
.fr_btn_light a{
    display: inline-block;
    border-radius: 100px;
    border: 1px solid var(--black);
    color:var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 13px 32px 13px;
    transition: 0.4s;

}
.fr_btn_light:hover a{
    border: 1px solid var(--cyan);
    color:var(--cyan);
    transition: 0.4s;
}
.fr_btn_goast{
    display: inline-block;
}
.fr_btn_goast a{
    display: inline-block;
    text-decoration: underline;
    position: relative;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    text-underline-offset: 3px;
    color: var(--black);
    transition: 0.4s;

}
.fr_btn_goast:hover a{
    transition: 0.4s;
    color: var(--cyan);
}
.fr_btn_goast:hover a::after{
    transition: 0.4s;
    background: url('../images/arrow-right-cyn.svg');

}
.fr_btn_goast a::after{
    transition: 0.4s;
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    right: -28px;
    top: 0px;
    background: url('../images/arrow-right.svg');


}

/* Hedaer Mobile Menu */

.hamburger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.fr_hamburger_container {
    text-align: right;
}

.mobile_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--pearl-blush);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 24px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    height: 100vh;
    border-top: 1px solid var(--charcoal-gray);
}
.has_sub_menu {
    position: relative;
}
.mobile_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile_menu li {
    margin-bottom: 20px;
}

.mobile_menu a {
    color: var(--black);
    font-size: 16px;
    text-decoration: none;
}

.mobile_menu.open {
    display: flex;
}

li.has_sub_menu:after {
    content: url('../images/arrow-down.svg');
    position: absolute;
    top: 1px;
    right: -22px;
}

.has_sub_menu {
    position: relative;
}

@media (max-width: 991px) {
    .fr_main_nav_links_col,
    .fr_main_btn_a {
        width: 100%;
        text-align: center;
        margin-top: 24px;
    }
   

    .fr_btn_dark a{
        color: var(--white);
        font-size: 16px;
        text-decoration: none;
        display: block;
    }
    .fr_desktop_header_logo {
        display: none;
    }
    li.has_sub_menu:after {
        top: 0;
        right: 0;
    }
    .fr_main_header .container{
        max-width: 98vw;
    }
}


/* Footer Stylings */

/* Footer Styling */

.fr_footer {
    background-color: var(--pearl-blush);
}

.fr_footer_menu_row {
    padding-top: 80px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
}

.fr_footer_logo {
    margin-bottom: 16px;
    height: 35px;
}

.fr_footer_desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    width: 90%;
}

.fr_footer_title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #4A4A4A;
}

.fr_ifa_logo {
    max-height: 45px;
}

.fr_footer_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fr_footer_links li {
    margin-bottom: 12px;
}

.fr_footer_links li:last-child {
    margin-bottom: 0; 
}

.fr_footer_links a {
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    color: var(--charcoal-gray)
}

.fr_footer_links a:hover {
    text-decoration: underline;
}

.fr_footer_social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.fr_footer_social a img {
    width: 24px;
    height: 24px;
}

.fr_footer_copyright {

    /* max-width: 1224px; */

}

.fr_footer_copyright .container {
    padding: 24px 0;
    border-top: 1px solid #1717132b;
    margin: auto;
}

.fr_footer_copyright .container .row{
    margin: 0px!important;
}

.fr_footer_copyright p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}

.fr_footer_social_container {
    display: flex;
    justify-content: flex-end;
}

.mobile_social_icons {
    display: none;
}

.fr_footer_col_1 {
    max-width: 422px!important;
}

.fr_footer_col_2 {
    max-width: 178px!important;
}

.fr_footer_col_3 {
    max-width: 293px!important;
}

.fr_footer_col_4 {
    max-width: 163px!important;
}

.fr_footer_col_1, .fr_footer_col_2, .fr_footer_col_3, .fr_footer_col_4 {
    padding-left: 0px;
    padding-right: 0px;
}

.fr_footer_bottom p{
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}
.fr_footer_bottom hr {
    background-color: #17171794;
    margin-top: 0;
    margin-bottom: 24px;
}
.fr_footer_bottom {
    margin-bottom: 24px;
}



@media only screen and (max-width: 990px) {
    .fr_footer {
        text-align: center;
        padding-left: 17px;
        padding-right: 17px;;
    }

    .fr_footer_col {
        margin-bottom: 40px;
    }

    .fr_footer_social {
        justify-content: center;
    }

    .fr_footer_copyright .container{
        width: 90%;
    }

    .fr_footer_copyright .col-12 {
        text-align: center;
        padding-left: 0px!important;
    }

    .fr_footer_copyright .col-12 p{
        text-align: left;
    }
    
    .fr_footer_col {
        text-align: left;
        padding-left: 0px!important;
    }

    .mobile_social_icons {
        display: block;
    }

    .mobile_social_icons .fr_footer_social {
        justify-content: left;
    }

    .fr_footer_social_container {
        display: none !important;
    }

    .fr_ifa_logo {
        margin-bottom: 24px;
    }
    
    .fr_footer_menu_row{
        padding-bottom: 0px;
        padding-top: 64px;
    }

    .fr_footer_col_1, .fr_footer_col_2, .fr_footer_col_3, .fr_footer_col_4 {
        max-width: 100%!important;
    }

    .fr_footer_desc{
        width: 70%;
    }
}


.fr_footer .col-lg-4_5 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
}

.fr_footer .col-lg-3_5 {
    flex: 0 0 29.167%;
    max-width: 29.167%;
}

@media (max-width: 992px) {
    .fr_footer .col-lg-4_5, .fr_footer .col-lg-3_5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .container {
        width: 90%;
    }

    h1 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 32px;
        line-height: 42px;
        text-align: left;
    }
    
    h2 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 28px;
        line-height: 36px;
        text-align: left;
    }
    
    h3 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
    }
    
    h4 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
    }
    
    h5 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
    }
    
    h6 {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
        font-size: 16px;
        line-height: 21px;
        text-align: left;
    }

    p {
        text-align: left;
    }

    
    .fr_footer_desc{
        width: 90%;
    }
}